
.trainer-list-container {
    margin-top: 32px !important; 
}

/* Titulo Entrenadores */
.trainer-list-title {
    margin-bottom: 16px !important; 
}

/* Contenedor del boton de añadir */
.trainer-add-box {
    display: flex !important;
    justify-content: flex-start !important;
    margin-bottom: 32px !important; 
}

.btn-add-trainer {
    background-color: #28a745 !important;
    color: white !important;
    text-transform: none !important;
    box-shadow: none !important;
}

.btn-add-trainer:hover {
    background-color: #218838 !important;
}